<p>Hola! It's <%= Time.now %></p>
<p><%= link_to 'Hello!', welcome_say_hello_path %></p>

<center>
	<%= link_to "Sign-in", "#", class:"btn btn-large btn-primary" %> <br>
	<%= link_to "Register!", "#" %>
</center>